---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="404">
  <section>
    <div class="container mx-auto px-5 py-16 lg:py-28 w-full">
      <h1 class="text-4xl xl:text-8xl font-black text-center">404</h1>
      <p class="mt-4 text-center">Page does not exist</p>
    </div>
  </section>
</Layout>
