---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Contact">
  <section>
    <div class="container mx-auto px-5 py-16 lg:py-28 max-w-2xl lg:max-w-7xl">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl xl:text-5xl font-black text-center lg:text-left">
          Contact
        </h1>
        <!-- <p class="mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
          vestibulum.
        </p> -->
      </div>
      <form
        name="contact"
        method="POST"
        data-netlify="true"
        class="flex flex-wrap py-12 max-w-3xl mx-auto"
      >
        <div class="flex flex-col lg:flex-row gap-x-8 w-full">
          <div class="lg:w-1/2 flex flex-col py-4">
            <label for="name" class="text-sm text-neutral-300 mb-2">Name</label>
            <input
              required="required"
              type="text"
              name="name"
              class="py-2 px-3 rounded-lg bg-violet-900/30 border-2 border-violet-900 outline-none focus:ring-2 focus:ring-violet-400"
            />
          </div>
          <div class="lg:w-1/2 flex flex-col py-4">
            <label for="email" class="text-sm text-neutral-300 mb-2"
              >Email ID</label
            >
            <input
              required="required"
              type="email"
              name="email"
              class="py-2 px-3 rounded-lg bg-violet-900/30 border-2 border-violet-900 outline-none focus:ring-2 focus:ring-violet-400"
            />
          </div>
        </div>
        <div class="w-full flex flex-col py-4">
          <label for="message" class="text-sm text-neutral-300 mb-2"
            >Message</label
          >
          <label class="hidden">
            Don't fill this out if you're human: <input name="bot-field" />
          </label>
          <textarea
            required="required"
            class="py-2 px-3 resize-none rounded-lg bg-violet-900/30 border-2 border-violet-900 outline-none focus:ring-2 focus:ring-violet-400"
            name="message"
            cols="30"
            rows="10"></textarea>
        </div>
        <div class="flex items-center justify-center mt-8 w-full">
          <Button
            text="Send message"
            type="submit"
            priColor="bg-violet-800"
            secColor="bg-violet-400"
          />
        </div>
      </form>
    </div>
  </section>
</Layout>
